<form class="form" method="post" action="{{ path('app_lieu_delete', {'id': lieu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <div class="form-field">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
    </div>
    <div class="customhr"></div>
    <div class="form-btn">
        <button class="btn">Delete</button>
    </div>
</form>
