{{ form_start(form, {'attr': {'class': 'form'}}) }}

<div class="form-field">
    {{ form_label(form.name, 'Nom') }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div class="form-field">
    {{ form_label(form.adress, 'Adresse') }}
    {{ form_widget(form.adress) }}
    {{ form_errors(form.adress) }}
</div>

<div class="form-field">
    {{ form_label(form.ville, 'Ville') }}
    {{ form_widget(form.ville) }}
    {{ form_errors(form.ville) }}
</div>

<div class="form-field">
    {{ form_label(form.latitude, 'Latitude') }}
    {{ form_widget(form.latitude) }}
    {{ form_errors(form.latitude) }}
</div>

<div class="form-field">
    {{ form_label(form.longitude, 'Longitude') }}
    {{ form_widget(form.longitude) }}
    {{ form_errors(form.longitude) }}
</div>

<div class="form-field">
    <a class="user-view-btn" href="{{ path('app_ville_new') }}">Ajouter une ville</a>
</div>

<div class="form-btn">
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}