{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edit Lieu{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Modifier un lieu</h2>
    <a class="pageTitle-link" href="{{ path('app_lieu_index') }}">Revenir à la liste</a>
{% endblock %}

{% block body %}
    {{ include('lieu/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
