{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Lieu index{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Liste des lieux</h2>
    <a class="pageTitle-link" href="{{ path('app_lieu_new') }}">Créer un lieu</a>
{% endblock %}

{% block body %}

    <div class="users">
        {% for lieu in lieus %}
            {% if not loop.first %}
                <div class="customhr" style="align-self: center"></div>
            {% endif %}
            <div class="user-display">
                <div class="username">{{ lieu.name }}</div>
                <div class="user-owner">à <a class="user-view-btn owner" href="{{ path('app_ville_show', {'id': lieu.ville.id}) }}">{{ lieu.ville }}</a></div>
                <div class="user-actions">
                    <a class="user-view-btn" href="{{ path('app_lieu_show', {'id': lieu.id}) }}">&#8901; Consulter</a>
                    <a class="user-view-btn" href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">&#8901; Modifier</a>
                </div>
            </div>
        {% else %}
            <div>Aucun lieu</div>
        {% endfor %}
    </div>

{% endblock %}
