{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Créer un lieu</h2>
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="pageTitle-link" href="{{ path('app_lieu_index') }}">Revenir à la liste des lieux</a>
        {%  endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('lieu/_form.html.twig') }}
{% endblock %}
