{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -  Lieu{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Ville</h2>
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="pageTitle-link" href="{{ path('app_lieu_index') }}">Revenir à la liste</a>
            <a class="pageTitle-link" href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">Editer le lieu</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="show-user">
        <div class="show-field">
            <div class="show-field-name">Nom</div>
            <div class="show-field-data">{{ lieu.name }}</div>
        </div>
        <div class="show-field">
            <div class="show-field-name">Adresse</div>
            <div class="show-field-data">{{ lieu.adress }}</div>
        </div>
        <div class="show-field">
            <div class="show-field-name">Latitude</div>
            <div class="show-field-data">{{ lieu.latitude }}</div>
        </div>
        <div class="show-field">
            <div class="show-field-name">Longitude</div>
            <div class="show-field-data">{{ lieu.longitude }}</div>
        </div>
        <div class="show-field">
            <div class="show-field-name">Ville</div>
            <div class="show-field-data">{{ lieu.ville }}</div>
        </div>
    </div>

    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('lieu/_delete_form.html.twig') }}
        {%  endif %}
    {% endif %}




{% endblock %}
