<form class="form" method="post" action="{{ path('app_site_delete', {'id': site.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <div class="form-field">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site.id) }}">
    </div>
    <div class="customhr"></div>
    <div class="form-btn">
        <button class="btn">Supprimer</button>
    </div>
</form>
