{{ form_start(form, {'attr': {'class': 'form'}}) }}

<div class="form-field">
    {{ form_label(form.name, 'Nom') }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div class="form-btn">
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}