{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edit Site{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Modifier un site</h2>
    <a class="pageTitle-link" href="{{ path('app_site_index') }}">Revenir à la liste</a>
{% endblock %}

{% block body %}
    {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}
