{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Site index{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Liste des sites</h2>
    <a class="pageTitle-link" href="{{ path('app_site_new') }}">Créer un site</a>
{% endblock %}

{% block body %}

    <div class="users">
        {% for site in sites %}
            {% if not loop.first %}
                <div class="customhr" style="align-self: center"></div>
            {% endif %}
            <div class="user-display">
                <div class="username">
                    {{ site.name }}
                </div>
                <div class="user-actions">
                    <a class="user-view-btn" href="{{ path('app_site_show', {'id': site.id}) }}">&#8901; Consulter</a>
                    <a class="user-view-btn" href="{{ path('app_site_edit', {'id': site.id}) }}">&#8901; Modifier</a>
                </div>
            </div>
        {% else %}
            <div>Aucun site</div>
        {% endfor %}
    </div>

{% endblock %}
