{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New Site{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Créer un site</h2>
    <a class="pageTitle-link" href="{{ path('app_site_index') }}">Revenir à la liste</a>
{% endblock %}

{% block body %}
    {{ include('site/_form.html.twig') }}
{% endblock %}
