{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Site{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Site</h2>
    <a class="pageTitle-link" href="{{ path('app_site_index') }}">Revenir à la liste</a>
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="pageTitle-link" href="{{ path('app_site_edit', {'id': site.id}) }}">Editer le site</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="show-user">
        <div class="show-field">
            <div class="show-field-name">Nom</div>
            <div class="show-field-data">{{ site.name }}</div>
        </div>
    </div>

    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('site/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
