{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - SignIn{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Connexion</h2>
{% endblock %}

{% block body %}
<form class="form" method="post">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            <p>Vous êtes connecté en tant que {{ app.user.userIdentifier }}.</p> <a class="user-view-btn" href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% else %}


    <div class="form-field">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>

    <div class="form-field">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <div class="form-field">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <div class="form-btn">
        <button type="submit">
            Connexion
        </button>
    </div>
    <div>
        <a class="user-view-btn" href="{{ path('app_forgot_password_request') }}" title="Password oublié">Vous avez oublié votre mot de passe ?</a>
    </div>
</form>
{% endif %}
{% endblock %}
