<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant:<br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse mail</a>.
    Ce lien expire dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Congratulations !
</p>
