{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Erreur Email{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Validation Echouée</h2>
{% endblock %}

{% block body %}
    <h1>Lien verification email Invalide !!!</h1>
    Veuillez contacter l'administrateur du site
{%  endblock %}