{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Inscription Utilisateur</h2>
    <a class="pageTitle-link" href="{{ path('app_users_insert') }}">Importer des utilisateurs</a>
    <a class="pageTitle-link" href="{{ path('app_user_index') }}">Retour liste utilisateur</a>
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}

    {{ form_errors(registrationForm) }}

    <div class="form-field">
        {{ form_label(registrationForm.email, 'Adresse Mail') }}
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="form-field">
        {{ form_label(registrationForm.plainPassword, 'Mot de Passe') }}
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>
    <div class="form-field">
        {{ form_label(registrationForm.firstname, 'Prenom') }}
        {{ form_widget(registrationForm.firstname) }}
        {{ form_errors(registrationForm.firstname) }}
    </div>
    <div class="form-field">
        {{ form_label(registrationForm.lastname, 'Nom') }}
        {{ form_widget(registrationForm.lastname) }}
        {{ form_errors(registrationForm.lastname) }}
    </div>
    <div class="form-field">
        {{ form_label(registrationForm.phone, 'Telephone') }}
        {{ form_widget(registrationForm.phone) }}
        {{ form_errors(registrationForm.phone) }}
    </div>
    <div class="form-field">
        {{ form_label(registrationForm.site, 'Site') }}
        {{ form_widget(registrationForm.site) }}
        {{ form_errors(registrationForm.site) }}
    </div>
    <div class="form-field">
        <div>
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms, 'J\'accepte les CGU') }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    </div>
    <div class="form-btn">
        <button type="submit">Inscription</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
