<header>
    <div class="company">
        <a href="{{ path('app_home') }}">

            {% if app.user and app.user.theme == 'kevin' %}
                <img src="{{ asset('favicon/Smiling-Banana.svg') }}" alt="BANANA" srcset="{{ asset('favicon/Smiling-Banana.svg') }}" width="75px" />
            {%  else %}
                <svg class="company-logo" id="company-logo" viewBox="0 0 24 24">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1H5zm13-6v-3h-7v-2h7V8l5 4-5 4z"/>
                    </g>
                </svg>
            {% endif %}
        </a>
        <div class="company-name" id="company-name">
            <h1>Go Out</h1>
        </div>
    </div>
    <div class="main-display">
        <div class="main-display-userdata">
            {% if app.user %}
            <div class="main-menu-username" id="main-menu-username">
                {{ app.user }}
            </div>
            {% endif %}
            <div class="main-menu-datenow" id="main-menu-datenow">{{ 'now'|date }}</div>
        </div>

        <div class="main-menu">
            <div class="main-menu-burger" id="main-menu-burger" onClick="displayMenu()">
                <svg class="main-menu-burger-icon" id="main-menu-burger-icon" viewBox="0 0 50 100">
                    <rect class="main-menu-burger-icon-rect" x="-25" y="20" height="10" width="100"></rect>
                    <rect class="main-menu-burger-icon-rect" x="-15" y="35" height="10" width="80"></rect>
                    <rect class="main-menu-burger-icon-rect" x="-5" y="50" height="10" width="60"></rect>
                    <rect class="main-menu-burger-icon-rect" x="5" y="65" height="10" width="40"></rect>
                </svg>
            </div>
            <div class="main-menu-container" id="main-menu-container">
                <div class="main-menu-display" id="main-menu-display">
                    <a href="{{ path('app_home') }}">Accueil</a>
                    {% if app.user %}
                        <a href="{{ path('app_sortie_index') }}">Sorties</a>

                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="customhr"></div>
                            <a href="{{ path('app_lieu_index') }}">Lieux</a>
                            <a href="{{ path('app_ville_index') }}">Villes</a>
                            <a href="{{ path('app_site_index') }}">Sites</a>
                            <a href="{{ path('app_user_index') }}">Utilisateurs</a>
                        {% endif %}

                        <div class="customhr"></div>

                        <a href="{{ path('app_user_show', {'id': app.user.id}) }}">Profil</a>
                        <a href="{{ path('app_logout') }}">Déconnexion</a>


                    {%  else %}
                        <div class="customhr"></div>
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>