{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Password Reset Email Sent{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Vérification</h2>
{% endblock %}

{% block body %}
    <p>
        Si un compte associé à votre adresse mail existe, alors un mail contenant le lien de réinitialisation du mot de passe vient d'être envoyé.<br/>
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu de mail, veuillez vérifier vos spams ou <a class="user-view-btn" href="{{ path('app_forgot_password_request') }}">recommencer</a>.</p>
{% endblock %}
