{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Réinitialiser votre Mot de Passe{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Réinitialisation</h2>
{% endblock %}

{% block body %}

    {{ form_start(requestForm, {'attr': {'class': 'form'}}) }}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="form-field">
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        </div>
    {% endfor %}

    <div class="form-field">
        {{ form_label(requestForm.email, 'Email') }}
        {{ form_widget(requestForm.email) }}
        {{ form_errors(requestForm.email) }}
    </div>

    <div class="form-field">
        <p>Entrez votre adresse mail et nous vous enverrons un lien de réinitialisation.</p>
    </div>

    <div class="form-btn">
        <button class="btn">Envoyer le lien</button>
    </div>
    {{ form_row(requestForm._token) }}
    {{ form_end(requestForm, {'render_rest': false}) }}

{% endblock %}
