{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Réinitialiser votre Mot de Passe{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Réinitialisation</h2>
{% endblock %}

{% block body %}
    {{ form_start(resetForm, {'attr': {'class': 'form'}}) }}
    <div class="form-field">
        {{ form_label(resetForm.plainPassword, 'Password') }}
        {{ form_widget(resetForm.plainPassword) }}
        {{ form_errors(resetForm.plainPassword) }}
    </div>
    <div class="form-btn">
        <button class="btn">Réinitialiser</button>
    </div>
    {{ form_row(resetForm._token) }}
    {{ form_end(resetForm, {'render_rest': false}) }}
{% endblock %}
