:root{
    --font-color: var(--theme-font-color);
}

body{
    padding:0;
    margin:0;
    font-size: 1em;
    color:var(--font-color);
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

main{
    margin: 2em 10vw;
    display:flex;
    flex-direction: column;
}

main h1,h2,h3,h4,h5,h6{
    margin:0;
}
main p{
    margin: 0 0 1em 0;
}

.pageTitle{
    margin-bottom : 1em;
    font-size: 2em;
}

a.pageTitle-link{
    font-size: 1em;
    margin-bottom : 1em;
    text-decoration: underline 0.15em rgba(0,0,0,0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 0.3s, text-underline-offset 0.3s;
}

a.pageTitle-link:hover{
    text-decoration-color: var(--font-color);
}

.form{
    display:flex;
    flex-direction: column;
    gap:1em;
    align-items: center;
}

.form-field{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-field.checkbox{
    flex-direction: row;
}

.form-btn{
    width: 50%;
}

.form-btn button{
    width : 100%;
}

.form-input-file{
    width:100%;
}

main .customhr{
    width:40%;
    height:1px;
    margin-top : 1em;
    margin-bottom: 1em;
    background-color: var(--font-color);
}

.users{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.user-display{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.username{
    font-size: 1.5em;
}

.user-view-btn,
a.user-view-btn{
    font-weight: normal;
    width:max-content;
    text-decoration: underline 0.1em rgba(0,0,0,0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 0.3s, text-underline-offset 0.3s;
}

.user-view-btn:hover,
a.user-view-btn:hover{
    cursor: pointer;
    text-decoration-color: var(--font-color);
}

.user-view-btn.owner{
    font-weight: bold;
}

.user-infos{
    display:flex;
    flex-direction: column;
}
.user-actions{
    display:flex;
    flex-direction: row;
    gap:1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.show-field{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:2em;
}

.show-field-img{
    width: 300px;
    text-align: center;
    align-self: center;
}
.show-field-img img{
    object-fit: cover;
    width: inherit;
}

.show-user{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1em;
}
.show-field-name{
    width : 50%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.displayFilters{
    transition: max-height 0.5s linear;
    display: flex;
    flex-direction: column;
    max-height : 0px;
    overflow: hidden;
}

.displayFilters-opened{
    max-height: 700px;
}

.user-owner{
    font-size: 1.1em;
    margin-top : 0.5em;
    margin-bottom: 0.5em;
}

.sortie-details{
    transition: max-height 0.5s linear;
    display: flex;
    flex-direction: column;
    gap:0.5em;
    max-height : 0px;
    overflow: hidden;
}

.sortie-details-opened{
    max-height: 300px;
}

.sortie-show-field{
    display: flex;
    flex-direction: column;
}

.sortie-show-field-name{
    font-weight: bold;
}

.sortie-show-field-data{

}

/*
*   RESPONSIVE
*/
/* extra small <576px */
@media screen and (max-width:575px){
    body{
        font-size: 0.8em;
    }
    .show-field-name{
        width:20%;
    }
    .show-field-img{
        width: 200px;
    }
    .user-actions{
        flex-direction: column;
    }
}
/* small  ≥576px */
@media screen and (min-width:576px) and (max-width:767px){
    .show-field-name{
        width:20%;
        text-align: end;
    }
}
/* medium ≥768px */
@media screen and (min-width:768px) and (max-width:991px){
    .form-field{
        width:50%;
    }
    .form-btn{
        width: 25%;
    }
}
/* large ≥992px */
@media screen and (min-width:992px) and (max-width:1199px){
    .form-field{
        width:50%;
    }
    .form-btn{
        width: 25%;
    }
}
/* extra large ≥1200px */
@media screen and (min-width:1200px) and (max-width:1399px){
    .form-field{
        width:40%;
    }
    .form-btn{
        width: 20%;
    }
}
/* extra extra large xxl	≥1400px */
@media screen and (min-width:1400px){
    .form-field{
        width:40%;
    }
    .form-btn{
        width: 20%;
    }
}