:root{
    --header-height: 100px;
    /* Do not use 100vw : in case of right scrollbar, generates a bottom one */
    --header-width: 100%;

    --main-menu-margin-right: 5vw;

    --header-bg-color : var(--theme-header-bg-color);
    --header-font-color : var(--theme-header-font-color);
    --menu-bg-color : var(--theme-menu-bg-color) ;
    --menu-font-color : var(--theme-menu-font-color);
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height : var(--header-height);
    width : var(--header-width);
    background-color: var(--header-bg-color);
    color:var(--header-font-color);
    position:sticky;
    top:0;
}

header .customhr{
    width:60%;
    height:1px;
    margin-top : 5vh;
    margin-bottom: 5vh;
    background-color: var(--menu-font-color);
}

.company{
    display: flex;
    flex-direction: row;
    gap : 5vw;
    align-items: center;
    margin-left : 5vw;
}

.company-logo{
    height : calc(var(--header-height) * 0.60);
    fill:var(--header-font-color);
}

.company-name h1{
    font-size: 3em;
}

.main-display{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    align-items: center;
    margin-right : var(--main-menu-margin-right);
}

.main-menu-username{
    font-size: 1.5em;
    font-weight: bold;
}

.main-menu-datenow{

}

.main-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    color : var(--menu-font-color);
}

.main-menu a{
    font-weight: normal;
    color:var(--menu-font-color);
    text-decoration: underline 0.15em rgba(0,0,0,0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 0.3s, text-underline-offset 0.3s;
}

.main-menu a:hover{
    text-decoration-color: var(--menu-font-color);
}

.main-menu-burger{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-menu-container {
    position:relative;
}
.main-menu-display{
    transition: height 0.3s linear;
    position:absolute;
    top: calc(var(--header-height)/2);
    right: calc(-1 * var(--main-menu-margin-right));
    height : 0px;
    overflow: hidden;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1vh;
    background-color: var(--menu-bg-color);
}

.main-menu-display-opened{
    height : calc(100vh - var(--header-height));
}

.main-menu-burger-icon{
    transition-duration: 0.3s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fill:var(--header-font-color);
    width:40px;
    height:40px;
}
.main-menu-burger-icon:hover{
    rotate: 180deg;
}

.main-menu-burger-icon-opened{
    rotate: 90deg;
}

/*
*   RESPONSIVE
*/
/* extra small <576px */
@media screen and (max-width:575px){
    .main-menu-display{
        width: 100vw;
    }

    .main-display-userdata{
        display: none;
    }
}
/* small  ≥576px */
@media screen and (min-width:576px) and (max-width:767px){
    .main-menu-display{
        width: 100vw;
    }
    .main-display-userdata{
        display: none;
    }
}
/* medium ≥768px */
@media screen and (min-width:768px) and (max-width:991px){

}
/* large ≥992px */
@media screen and (min-width:992px) and (max-width:1199px){

}
/* extra large ≥1200px */
@media screen and (min-width:1200px) and (max-width:1399px){

}
/* extra extra large xxl	≥1400px */
@media screen and (min-width:1400px){

}