{{ form_start(form, {'attr': {'class': 'form'}}) }}

<div class="form-field">
    {{ form_label(form.name, 'Nom') }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>
<div class="form-field">
    {{ form_label(form.dateHourStart, 'Heure début') }}
    {{ form_widget(form.dateHourStart) }}
    {{ form_errors(form.dateHourStart) }}
</div>
<div class="form-field">
    {{ form_label(form.deadlineSubscription, 'Date fin inscriptions') }}
    {{ form_widget(form.deadlineSubscription) }}
    {{ form_errors(form.deadlineSubscription) }}
</div>
<div class="form-field">
    {{ form_label(form.maxSubscription, 'Maximum participants') }}
    {{ form_widget(form.maxSubscription) }}
    {{ form_errors(form.maxSubscription) }}
</div>
<div class="form-field">
    {{ form_label(form.duration, 'Durée Sortie') }}
    {{ form_widget(form.duration) }}
    {{ form_errors(form.duration) }}
</div>
<div class="form-field">
    {{ form_label(form.description, 'Description') }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>
<div class="form-field">
    {{ form_label(form.lieu, 'Lieu') }}
    {{ form_widget(form.lieu) }}
    {{ form_errors(form.lieu) }}
</div>

<div class="form-field">
    <a class="user-view-btn" href="{{ path('app_lieu_new') }}">Ajouter un Lieu</a>
</div>
<div class="form-btn">
    <button class="btn">Sauvegarder</button>
</div>
<div class="form-btn">
    <button name="publier" value="oui" class="btn">Publier</button>
</div>

{{ form_end(form) }}
