{% extends 'base.html.twig' %}

{% block title %}Annulation sortie{% endblock %}

{% block body %}
    <h1>Annuler une sortie</h1>
    <p>Nom de la sortie : {{ sortie.name }}</p>
    <p>Date de la sortie : {{ sortie.dateHourStart | date('d/m/Y')}}</p>
    <p>Ville organisatrice :{{ sortie.lieu.ville }}</p>
    <p>Lieu : {{ sortie.lieu }}</p>
    <form action="{{ path('app_sortie_cancel',{'id': sortie.id})}}" method="post">
    <label for="motif">Motif : </label>
    <textarea id="motif" name="motif" ></textarea>
    <br>
    <br>
    <button>Enregistrer</button>
    </form>
    <hr>
    <a href="{{ path('app_sortie_index') }}">Retour accueil</a>



{% endblock %}