{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edit Sortie{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Editer une sortie</h2>
    <a class="pageTitle-link" href="{{ path('app_sortie_index') }}">Revenir à la liste</a>
{% endblock %}

{% block body %}

    {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}

    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('sortie/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}

{% endblock %}
