{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sortie index{% endblock %}
{% block pageTitle %}
    <h2 class="pageTitle">Liste des sorties</h2>
    <a class="pageTitle-link" href="{{ path('app_sortie_new') }}">Créer une sortie</a>
{% endblock %}
{% block body %}
    <div class="user-view-btn" style="align-self: center" onclick="displayFilters()">Filtres</div>
    <div class="customhr" style="align-self: center"></div>
    <div id="displayFilters" class="displayFilters">
        <form class="form" action="{{ path('app_sortie_index') }}" method="post">
            <div class="form-field">
                <label for="site">Site : </label>
                <select name="site" id="site">
                    <option>--Sélectioner un lieu--</option>
                    {% for site in sites %}
                        {% if site.getName == siteFiltre %}
                            <option value="{{ site }}" selected>{{ site.getName }}</option>
                        {% else %}
                            <option value="{{ site }}">{{ site.getName }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-field">
                <label for="textFilter">Le nom de la sortie contient : </label>
                <input value="{{ textFiltre }}" name="textFiltre" type="text">
            </div>

            <div class="form-field">
                <label for="">Entre</label>
                <input value="{{ dateDown }}" name="dateDown" type="date">
                <label for="">Et</label>
                <input value="{{ dateUp}}" name="dateUp" type="date">
            </div>

            <div class="form-field checkbox">
                <input type="checkbox" id="owner" name="owner" {% if owner !="" %}checked{% endif %}>
                <label for="owner">Sortie dont je suis l'organistaeur</label>
            </div>

            <div class="form-field checkbox">
                <input type="checkbox" id="subscribed" name="subscribed" {% if subscribed !="" %}checked{% endif %}>
                <label for="subscribed">Sorties auxquelles je suis inscrit</label>
            </div>

            <div class="form-field checkbox">
                <input type="checkbox" id="notSubscribed" name="notSubscribed" {% if notSubscribed !="" %}checked{% endif %}>
                <label for="notSubscribed">Sorties auxquelles je ne suis pas inscrit</label>
            </div>

            <div class="form-field checkbox">
                <input type="checkbox" id="ended" name="ended" {% if ended !="" %}checked{% endif %}>
                <label for="ended">Sorties passées</label>
            </div>

            <div class="form-btn">
                <button name="boutonFiltrer" value="1">Filtrer</button>
            </div>

        </form>
    </div>

<div class="users">
    {% for sortie in sorties %}
        <div class="customhr" style="align-self: center"></div>
        <div class="user-display">
            <div class="username"
                    {% if sortie.etat == 'Annulée' %}
                        style="text-decoration: line-through"
                    {% endif %}>
                {{ sortie.name }}
            </div>
            <div class="user-owner">
                {% if sortie.etat == 'Annulée' %}
                    Annulée par
                {% else %}
                    Organisée par
                {% endif %}
                <a class="user-view-btn owner" href="{{ path('app_user_show', {'id': sortie.owner.id}) }}">{{ sortie.owner }}</a></div>
            <div class="sortie-show-field">
                <div class="sortie-show-field-data">
                    {% if  app.user in sortie.getParticipants %}
                        Vous êtes inscrit.
                    {% endif %}
                </div>
            </div>
            <div id="details-{{ sortie.id }}" class="sortie-details">
                <div class="sortie-show-field">
                    <div class="sortie-show-field-name">Date de la sortie</div>
                    <div class="sortie-show-field-data">{{ sortie.dateHourStart ? sortie.dateHourStart|date('Y-m-d H:i:s') : '' }}</div>
                </div>
                <div class="sortie-show-field">
                    <div class="sortie-show-field-name">Cloture des inscriptions</div>
                    <div class="sortie-show-field-data">{{ sortie.deadlineSubscription ? sortie.deadlineSubscription|date('Y-m-d H:i:s') : '' }}</div>
                </div>
                <div class="sortie-show-field">
                    <div class="sortie-show-field-name">Participants</div>
                    <div class="sortie-show-field-data">{{ sortie.getParticipants|length }} / {{ sortie.maxSubscription }}</div>
                </div>
                <div class="sortie-show-field">
                    <div class="sortie-show-field-name">Etat</div>
                    <div class="sortie-show-field-data">{{ sortie.etat }}</div>
                </div>
            </div>
            <div class="user-actions">
                <div class="user-view-btn" onclick="sortieShowDetails('details-{{ sortie.id }}')">&#8901; Détails</div>
                <a class="user-view-btn" href="{{ path('app_sortie_show', {'id': sortie.id}) }}">&#8901; Consulter</a>

                {# TODO : REFACTOR #}
                {% if app.user %}
                    {% if is_granted("ROLE_ADMIN") or (app.user.id==sortie.owner.id and sortie.dateHourStart>date("now"))%}
                        {% if sortie.etat!="Créée" %}
                            {% if is_granted("ROLE_ADMIN") %}
                                <a class="user-view-btn" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">&#8901; Modifier</a>
                            {% endif %}
                        {% else %}
                            <a class="user-view-btn" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">&#8901; Modifier</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if app.user and sortie.deadlineSubscription>date("now") and (sortie.etat=='Ouverte' or sortie.etat=='Clôturée')%}
                    {% if  app.user in sortie.getParticipants %}
                        <a class="user-view-btn" href="{{ path('app_sortie_unsubscribe', {'id': sortie.id}) }}">&#8901; Se désinscrire</a>
                    {% else %}
                        {% if sortie.getParticipants|length < sortie.maxSubscription and sortie.etat=='Ouverte'%}
                            <a class="user-view-btn" href="{{ path('app_sortie_subscribe', {'id': sortie.id}) }}">&#8901; S'inscrire</a>
                        {% endif %}
                    {% endif %}
                {% endif %}

            </div>
        </div>
    {% else %}
            <div class="show-field">Aucune sortie</div>
    {% endfor %}
</div>
{% endblock %}
