{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New Sortie{% endblock %}
{% block pageTitle %}
    <h2 class="pageTitle">Creer une sortie</h2>
    <a class="pageTitle-link" href="{{ path('app_sortie_index') }}">Revenir à la liste des sorties</a>
{% endblock %}
{% block body %}

    {{ include('sortie/_form.html.twig') }}

{% endblock %}
