{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sortie{% endblock %}
{% block pageTitle %}
    <h2 class="pageTitle">Sortie {{ sortie.name }}</h2>
    <a class="pageTitle-link" href="{{ path('app_sortie_index') }}">Revenir à la liste des sorties</a>
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") or (app.user.id==sortie.owner.id and sortie.dateHourStart>date("now") and sortie.etat=="Créée")%}
            <a class="pageTitle-link" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Editer la sortie</a>
        {% endif %}
        {% if (is_granted("ROLE_ADMIN") or app.user==sortie.owner) and sortie.etat.libelle!='Annulée' and sortie.deadlineSubscription>date("now")%}
            <a class="pageTitle-link" href="{{ path('app_sortie_canceling', {'id': sortie.id}) }}">Annuler la sortie</a>
        {% endif %}
    {% endif %}

{% endblock %}
{% block body %}

    <div class="show-user">
        <div class="show-field">
            <div class="show-field-name">Nom</div>
            <div class="show-field-data"
                {% if sortie.etat == 'Annulée' %}
                style="text-decoration: line-through"
                {% endif %}
                >
                {{ sortie.name }}
            </div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Date et heure de la sortie</div>
            <div class="show-field-data">{{ sortie.dateHourStart ? sortie.dateHourStart|date('Y-m-d H:i:s') : '' }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Date Limite d'inscription</div>
            <div class="show-field-data">{{ sortie.deadlineSubscription ? sortie.deadlineSubscription|date('Y-m-d H:i:s') : '' }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Participants</div>
            <div class="show-field-data">{{ sortie.getParticipants|length }} / {{ sortie.maxSubscription }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Durée</div>
            <div class="show-field-data">{{ sortie.duration }} minutes</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Description</div>
            <div class="show-field-data">{{ sortie.description }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Site organisateur</div>
            <div class="show-field-data">{{ sortie.site }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Lieu</div>
            <div class="show-field-data">{{ sortie.lieu }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Rue</div>
            <div class="show-field-data">{{ sortie.lieu.adress }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Code Postal</div>
            <div class="show-field-data">{{ sortie.lieu.ville.postcode }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Ville</div>
            <div class="show-field-data">{{ sortie.lieu.ville }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Latitude</div>
            <div class="show-field-data">{{ sortie.lieu.latitude }}</div>
        </div>

        <div class="show-field">
            <div class="show-field-name">Longitude</div>
            <div class="show-field-data">{{ sortie.lieu.longitude }}</div>
        </div>

        {% if sortie.motif %}
        <div class="show-field">
            <div class="show-field-name">Motif Annulation</div>
            <div class="show-field-data">{{ sortie.motif }}</div>
        </div>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            {{ include('sortie/_delete_form.html.twig') }}
        {% endif %}

        <div class="show-field" style="justify-content: center">
            <div class="customhr"></div>
        </div>

    </div>

    <h2 class="pageTitle">Liste des participants</h2>

    <div class="users">
        {% for user in sortie.getParticipants() %}
    <div class="user-display">
        <div class="username">
            <a class="user-view-btn" href="{{ path('app_user_show', {'id': user.id}) }}"> {{ user.getFirstname()  }} {{ user.getLastname()  }}</a>
        </div>

        {% else %}
            <div class="show-field">Aucun participant</div>
        {% endfor %}
    </div>

    <div class="show-field" style="justify-content: center">
        <div class="customhr"></div>
    </div>


{% endblock %}