:root{
    /* THEME : FLOWER */
    --theme-header-bg-color: #824670 ;
    --theme-header-font-color: #F1FAEE ;
    --theme-menu-bg-color: #C3D2D5 ;
    --theme-menu-font-color: #824670 ;
    --theme-font-color : #A2708A;
}