:root{
    /* THEME : KEVIN */
    --theme-header-bg-color: #F5EB38 ;
    --theme-header-font-color: #7BA3FF ;
    --theme-menu-bg-color: #F5EB38 ;
    --theme-menu-font-color: #7BA3FF ;
    --theme-font-color : #7BA3FF;
}

header{
    font-size : 0.7em;
    text-decoration: underline;
}

h2{
    font-family: fantasy;
    color : #FF28E9;
}

body{
    font-weight: bold;
    font-size : 1.3em;
    font-family: cursive;
}