:root{
    /* THEME : LIGHTBLUE */
    --theme-header-bg-color: #1D3557 ;
    --theme-header-font-color: #F1FAEE ;
    --theme-menu-bg-color: #A8DADC ;
    --theme-menu-font-color: #1D3557 ;
    --theme-font-color : #1D3557;
}