{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edit Ville{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Modifier une ville</h2>
    <a class="pageTitle-link" href="{{ path('app_ville_index') }}">Revenir à la liste</a>
{% endblock %}

{% block body %}
    {{ include('ville/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('ville/_delete_form.html.twig') }}
{% endblock %}
