{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ville index{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Liste des villes</h2>
    <a class="pageTitle-link" href="{{ path('app_ville_new') }}">Créer une ville</a>
{% endblock %}

{% block body %}

    <div class="users">
        {% for ville in villes %}
            {% if not loop.first %}
                <div class="customhr" style="align-self: center"></div>
            {% endif %}
            <div class="user-display">
                <div class="username">
                    {{ ville.postcode }} - {{ ville.name }}
                </div>
                <div class="user-actions">
                    <a class="user-view-btn" href="{{ path('app_ville_show', {'id': ville.id}) }}">&#8901; Consulter</a>
                    <a class="user-view-btn" href="{{ path('app_ville_edit', {'id': ville.id}) }}">&#8901; Modifier</a>
                </div>
            </div>
        {% else %}
            <div>Aucune ville</div>
        {% endfor %}
    </div>

{% endblock %}
