{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New Ville{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Créer une ville</h2>
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="pageTitle-link" href="{{ path('app_ville_index') }}">Revenir à la liste des villes</a>
            {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('ville/_form.html.twig') }}
{% endblock %}
