{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ville{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Ville</h2>
    <a class="pageTitle-link" href="{{ path('app_ville_index') }}">Revenir à la liste</a>
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="pageTitle-link" href="{{ path('app_ville_edit', {'id': ville.id}) }}">Editer la ville</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}

<div class="show-user">
    <div class="show-field">
        <div class="show-field-name">Nom</div>
        <div class="show-field-data">{{ ville.name }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Code Postal</div>
        <div class="show-field-data">{{ ville.postcode }}</div>
    </div>
</div>

    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('ville/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}

{% endblock %}
