<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}GoOut{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon/favicon.ico') }}">


        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}"/>
            {# THEME HANDLER #}
            {% set theme = 'lightblue' %}
                    {% if app.user and app.user.theme %}
                        {% set theme =  app.user.theme  %}
                    {% endif %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/theme/' ~ theme ~ '.css') }}"/>
            {# ##### #}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/header.js') }}" defer></script>
            <script src="{{ asset('js/base.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% include 'partials/_header.html.twig' %}
        <main>
            {% block pageTitle %}{% endblock %}
            {% block body %}{% endblock %}
        </main>
        {% block footer %}{% endblock %}
    </body>
</html>
