{%  extends 'base.html.twig' %}

{%  block title %}
    {{ parent() }} - Home
{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Go Out !</h2>
{% endblock %}

{%  block body  %}
    <p> Bienvenue sur l'application de sortie de l'ENI.</p>
    {% if app.user %}
    <div>
        <p>Vous êtes connecté en tant que {{ app.user.userIdentifier }}.</p> <a class="user-view-btn" href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>
    {% else %}
    <p> Si vous avez un compte, <a class="user-view-btn" href="{{ path('app_login') }}">identifiez vous</a>.<br/>Sinon, contactez votre référent ENI.</p>
    {% endif %}
{%  endblock %}