{% extends 'base.html.twig' %}

{% block body %}
<h1>ERREUR 500</h1>
    <hr>
    <h3>Il y a eu un problème avec le serveur...</h3>
    <hr>
    <a class="user-view-btn" href="{{ path('app_home') }}">retour accueil</a>
{% endblock %}