{% extends 'base.html.twig' %}

{% block body %}
<h1>ERREUR 403</h1>
    <hr>
    <h3>Vous n'avez pas les droits d'accès a cette page !</h3>
    <hr>
    <a class="user-view-btn" href="{{ path('app_home') }}">retour accueil</a>
{% endblock %}