{% extends 'base.html.twig' %}

{% block body %}
<h1>ERREUR 404</h1>
    <hr>
    <h3>Le lien que vous avez rentré n'existe pas sur ce serveur !</h3>
    <hr>
    <a class="user-view-btn" href="{{ path('app_home') }}">retour accueil</a>
{% endblock %}