<form class="form" method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce compte ?\n\nCette action est définitive et vous ne pourrez plut vous connecter avec ce compte.');">
    <div class="form-field">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    </div>
    <div class="customhr"></div>
    <div class="form-btn">
        <button class="btn">Supprimer l'utilisateur</button>
    </div>
</form>
