{{ form_start(form, {'attr': {'class': 'form'}}) }}

<div class="form-field">
    {{ form_label(form.email, 'Adresse Mail') }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
</div>

<div class="form-field">
    {{ form_label(form.firstname, 'Prenom') }}
    {{ form_widget(form.firstname) }}
    {{ form_errors(form.firstname) }}
</div>

<div class="form-field">
    {{ form_label(form.lastname, 'Nom') }}
    {{ form_widget(form.lastname) }}
    {{ form_errors(form.lastname) }}
</div>

<div class="form-field">
    {{ form_label(form.phone, 'Telephone') }}
    {{ form_widget(form.phone) }}
    {{ form_errors(form.phone) }}
</div>

     {% if app.user %}
        {% if user is same as(app.user) %}

            <div class="form-field">
                {{ form_label(form.plainPassword, 'Mot de Passe') }}
                {{ form_widget(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
            </div>

            <div class="form-field">
                {{ form_label(form.nouveauPassword.first, 'Nouveau mot de passe (falcutatif)') }}
                {{ form_widget(form.nouveauPassword.first) }}
                {{ form_errors(form.nouveauPassword.first) }}
            </div>

            <div class="form-field">
                {{ form_label(form.nouveauPassword.second, 'Confirmez le nouveau mot de passe') }}
                {{ form_widget(form.nouveauPassword.second) }}
                {{ form_errors(form.nouveauPassword.second) }}
            </div>

         {% endif %}
    {% endif %}

<div class="form-field">
    {{ form_label(form.site, 'Site') }}
    {{ form_widget(form.site) }}
    {{ form_errors(form.site) }}
</div>

<div class="form-field">
    {{ form_label(form.image, 'Image') }}
    {{ form_widget(form.image) }}
    {{ form_errors(form.image) }}
</div>

{% if form.vars.value.filename != null %}

    <div class="form-field">
        <div>
            {{ form_widget(form.deleteImage) }}
            {{ form_label(form.deleteImage, 'Supprimer l\'image') }}
            {{ form_errors(form.deleteImage) }}
        </div>
    </div>
    <div class="form-field">
        <img src="{{ asset(app_images_user_directory ~ '/' ~
            form.vars.value.filename) }}"
             alt="image" />
    </div>

{% endif %}


    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}

            <div class="form-field">
                {{ form_label(form.roles, 'Roles') }}
                {{ form_widget(form.roles) }}
                {{ form_errors(form.roles) }}
            </div>
            <div class="form-field">
                <div>
                    {{ form_widget(form.isVerified) }}
                    {{ form_label(form.isVerified, 'Utilisateur vérifié') }}
                    {{ form_errors(form.isVerified) }}
                </div>
            </div>
            <div class="form-field">
                <div>
                    {{ form_widget(form.active) }}
                    {{ form_label(form.active, 'Utilisateur actif') }}
                    {{ form_errors(form.active) }}
                </div>
            </div>

        {% endif %}
    {% endif %}

    <div class="form-field">
        {{ form_label(form.theme, 'Theme') }}
        {{ form_widget(form.theme) }}
        {{ form_errors(form.theme) }}
    </div>


<div class="form-btn">
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}