{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edit User{% endblock %}

{% block pageTitle %}
    {% if app.user == user %}
        <h2 class="pageTitle">Modifier mon Profil</h2>
    {% else %}
        <h2 class="pageTitle">Modifier l'utilisateur {{ user }}</h2>
    {% endif %}
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="pageTitle-link" href="{{ path('app_user_index') }}">Revenir à la liste des utilisateurs</a>
        {% endif %}
    {% endif %}
    <a href="{{ path('app_user_show' , {'id': user.id}) }}">Revenir a mon profil</a>
{% endblock %}

{% block body %}
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
