{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - User index{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Liste des utilisateurs</h2>
    <a class="pageTitle-link" href="{{ path('app_register') }}">Créer un utilisateur</a>
    <a class="pageTitle-link" href="{{ path('app_users_insert') }}">Importer des utilisateurs</a>
{% endblock %}

{% block body %}
    <div class="users">
        {% for user in users %}
            {% if not loop.first %}
                <div class="customhr" style="align-self: center"></div>
            {% endif %}
        <div class="user-display">
            <div class="username">
                {{ user.firstname }} {{ user.lastname }}
            </div>
            <div class="usermail">
                {{ user.email }}
            </div>
            <div class="user-actions">
                <a class="user-view-btn" href="{{ path('app_user_show', {'id': user.id}) }}">&#8901; Consulter</a>
                <a class="user-view-btn" href="{{ path('app_user_edit', {'id': user.id}) }}">&#8901; Modifier</a>
            </div>
        </div>
    {% else %}
            <div>Aucun utilisateur</div>
    {% endfor %}
    </div>

{% endblock %}
