{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - User insert{% endblock %}

{% block pageTitle %}
    <h2 class="pageTitle">Insertion Utilisateurs</h2>
    <a class="pageTitle-link" href="{{ path('app_register') }}">Créer un utilisateur</a>
    <a class="pageTitle-link" href="{{ path('app_user_index') }}">Retour liste utilisateur</a>
{% endblock %}

{% block body %}
    <form class="form" method="POST" action="{{ path('app_users_insert_read') }}" enctype="multipart/form-data">
        <div class="form-field">
         <label for="csv">Veuille sélectionner le fichier CSV à importer</label>
        </div>
        <div class="form-field">
            <input type="file" name="csv_users" id="csv_users" required="required">
        </div>
        <div class="form-btn">
            <input type="submit" value="Confirmer">
        </div>

    </form>
{% endblock %}