{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - User{% endblock %}

{% block pageTitle %}
    {% if app.user == user %}
    <h2 class="pageTitle">Mon profil</h2>
    {% else %}
    <h2 class="pageTitle">Profil de {{ user }}</h2>
    {% endif %}
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") or app.user==user%}
            <a class="pageTitle-link" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier le profil</a>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <a class="pageTitle-link" href="{{ path('app_user_index') }}">Liste Utilisateurs</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="show-user">
    <div class="show-field">
        <div class="show-field-name">Prenom</div>
        <div class="show-field-data">{{ user.firstname }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Nom</div>
        <div class="show-field-data">{{ user.lastname }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Email</div>
        <div class="show-field-data">{{ user.email }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Telephone</div>
        <div class="show-field-data">{{ user.phone }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Site</div>
        <div class="show-field-data">{{ user.site }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Roles</div>
        <div class="show-field-data">{{ user.roles ? user.roles|json_encode : ''  }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Utilisateur activé</div>
        <div class="show-field-data">{{ user.active ? 'Oui' : 'Non' }}</div>
    </div>
    <div class="show-field">
        <div class="show-field-name">Utilisateur vérifié</div>
        <div class="show-field-data">{{ user.isVerified ? 'Oui' : 'Non' }}</div>
    </div>


    {% if user.filename %}
    <div class="show-field-img">
        <img src="{{ asset(app_images_user_directory ~ '/' ~ user.filename) }}"
             alt="image" />
    </div>
    {% endif %}

</div>
    {% if app.user %}
        {% if is_granted("ROLE_ADMIN") %}
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
